.cm{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.begin{
    display: inline-block;
}
.begin-img{
    width: 10rem;
}
.begin .start{
    position: absolute;
    left: 1.5rem;
    top: 2rem;
}
.begin .help{
    position: absolute;
    left: 1.5rem;
    top: 4rem;
}
.begin .start img,.begin .help img{
    width: 2.2rem;
}
.begin .start #startGame2,.begin .help #help2{
    display: none;
}
.begin .start:hover #startGame{
    display: none;
}
.begin .start:hover #startGame2{
    display: inline;
}
.begin .help:hover #help1{
    display: none;
}
.begin .help:hover #help2{
    display: inline;
}
#slide1{
    background-color: #EBEBEB;
}
#slide2,#slide3{
    background-image: url(../image/login.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#login img{
    display: block;
    width: 2rem;
}
#c1 {
    box-shadow: 1px 1px 5px #000000;
    background-image: url(../image/qipan.png);
    background-repeat: repeat;
}
#slide3 #now{
    padding: 1rem 0 0 0.6rem;
}
#over{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(204, 204, 204, 0.4);
    top: 0;
    left: 0;
    z-index: 999;
}
#helppage{
    display: none;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    background-color: #bbc1ff;
    border-radius: 33px;
}
#closehelp{
    float: right;
}
#closehelp img{
    width: 1rem;
}
#helppage .text{
    font-size: 1rem;
}